<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <!-- 定义属性 -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>
    
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- 文件输出 - 所有日志 -->
        <RollingFile name="File" fileName="${LOG_DIR}/app.log"
                     filePattern="${LOG_DIR}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- 错误日志单独输出 -->
        <RollingFile name="ErrorFile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- SQL日志单独输出 -->
        <RollingFile name="SqlFile" fileName="${LOG_DIR}/sql.log"
                     filePattern="${LOG_DIR}/sql-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- 根日志配置 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ErrorFile" level="ERROR"/>
        </Root>
        
        <!-- Spring框架日志 -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        
        <!-- MyBatis SQL日志 -->
        <Logger name="com.triauras.mapper" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="SqlFile" level="DEBUG"/>
        </Logger>
        
        <!-- 业务服务日志 -->
        <Logger name="com.triauras.service" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="DEBUG"/>
        </Logger>
        
        <!-- 控制器日志 -->
        <Logger name="com.triauras.controller" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="DEBUG"/>
        </Logger>
        
        <!-- 异常处理日志 -->
        <Logger name="com.triauras.exception" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="DEBUG"/>
            <AppenderRef ref="ErrorFile" level="ERROR"/>
        </Logger>
        
        <!-- 第三方库日志控制 -->
        <Logger name="org.apache" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>