<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triauras.mapper.UsersMapper">
    <!-- 基础结果映射 -->
    <resultMap id="BaseResultMap" type="com.triauras.entity.Users">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="avatar_url" property="avatar_url"/>
        <result column="timezone" property="timezone"/>
        <result column="currency" property="currency"/>
        <result column="last_login_at" property="last_login_at"/>
        <result column="is_active" property="is_active"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
    </resultMap>
    <update id="updateLastLoginTime">
        UPDATE users
        SET last_login_at = #{lastLoginAt}
        WHERE id = #{id}
    </update>

    <!-- 根据用户邮箱和密码获取用户 -->
    <select id="loginByEmail" resultMap="BaseResultMap">
        SELECT 
       *
        FROM users
        WHERE email = #{email} AND password = #{password}
    </select>

    <!-- 根据邮箱查找用户 -->
    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT 
        *
        FROM users
        WHERE email = #{email}
    </select>

    <!-- 根据用户名查找用户 -->
    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <!-- 插入新用户 -->
    <insert id="insertUser" parameterType="com.triauras.entity.Users" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            username, email, password, avatar_url, timezone, currency, 
            last_login_at, is_active, created_at, updated_at
        ) VALUES (#{username}, #{email}, #{password}, #{avatar_url}, #{timezone}, #{currency},
                  #{last_login_at}, #{is_active}, NOW(), NOW()
        )
    </insert>

</mapper>