<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triauras.mapper.UsersMapper">
    <!-- 通用结果映射，可以被其他映射引用 -->
    <resultMap id="BaseResultMap" type="com.triauras.entity.Users">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="avatar_url" property="avatar_url"/>
        <result column="timezone" property="timezone"/>
        <result column="currency" property="currency"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <result column="last_login_at" property="last_login_at"/>
        <result column="is_active" property="is_active"/>
    </resultMap>
    <!-- 插入用户，返回自增主键 -->
    <insert id="insertUser" parameterType="com.triauras.entity.Users"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username,
                           email,
                           password,
                           avatar_url,
                           timezone,
                           currency,
                           created_at,
                           updated_at,
                           last_login_at,
                           is_active)
        VALUES (#{username},
                #{email},
                #{password},
                #{avatar_url},
                #{timezone},
                #{currency},
                #{created_at},
                #{updated_at},
                #{last_login_at},
                #{is_active})
    </insert>
    <select id="loginByEmail" resultType="com.triauras.entity.Users">
        select *
        from users
        where email = #{email}
          and password = #{password}
    </select>
    <select id="selectByEmail" resultType="com.triauras.entity.Users">
        select *
        from users
        where email = #{email}
    </select>
    <select id="selectByUsername" resultType="com.triauras.entity.Users">
        select *
        from users
        where username = #{username}
    </select>

</mapper>